<mat-sidenav-container>
    <!-- Binds opened to the variable openSidenav to control the toggling of the
        of the sidenav -->
        <!-- <mat-sidenav [opened]="openSidenav">
            <p>I'm the sidenav!</p>
        </mat-sidenav>

        

        <mat-sidenav-content>
            <button (click)="openSidenav = true">Show SideNav</button>
            <router-outlet></router-outlet>
        </mat-sidenav-content> -->


<!-- creates a local reference to the sidenav and uses role="navigation"
    for accessibility reasons and this facilitates the button to toggle the sigenav 
    local reference -->

    <mat-sidenav #sidenav role="navigation">
        <p>I'm the sidenav!</p>
    </mat-sidenav>
    
    
    
    <mat-sidenav-content fxLayoutGap="15px">
        <mat-toolbar color="primary" class="test-font-Roboto" fxLayoutGap="15px">
            <div class=""><button (click)="sidenav.toggle()">Toggle Sidenav</button></div>
            <div class="">LOGO</div>
            <div fxLayoutGap="15px">
                <a routerLink="/signup">Signup</a>
                <a routerLink="/login">Login</a>
                <a routerLink="/training">Training</a>
            </div>

        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
        <button (click)="sidenav.toggle()">Show SideNav</button>
        
    </mat-sidenav-content>


</mat-sidenav-container>

